@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SourceSansPro-Regular.ttf"), url("../fonts/SourceSansPro-Bold.ttf"), url("../fonts/SourceSansPro-Italic.ttf") format("truetype"); }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white; }

.container {
  width: 1024px;
  height: 100%;
  height: auto;
  margin: 0 auto; }

@media (max-width: 1024px) {
  .container {
    width: 100%; } }

.blue-title {
  color: #508AF5;
  margin: 0; }

.main-title {
  color: black;
  margin: 20px 0 0 0;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700; }

.page-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .page-header .content {
    padding: 160px 0;
    background-color: rgba(0, 0, 0, 0.5); }
    .page-header .content h1 {
      margin: 0;
      text-align: center;
      font-size: 50px;
      color: white; }

section {
  padding: 120px 0;
  width: 100%; }
  section .section-title {
    font-size: 45px;
    margin: 0;
    text-align: center;
    font-weight: bold; }

.grid-container {
  width: 100%;
  margin-top: 50px; }
  .grid-container .item {
    width: 100%; }

.button {
  background-color: #508AF5;
  border-style: none;
  color: white;
  text-decoration: none;
  font-weight: 700px;
  padding: 17px 40px;
  cursor: pointer; }

/* Link */
.link {
  text-decoration: none;
  color: black;
  font-weight: bold; }
  .link i {
    color: #508AF5;
    margin-left: 5px; }

.navbar {
  height: 92px;
  background-color: white; }
  .navbar .container {
    height: 100%; }
    .navbar .container .brand {
      height: 100%;
      line-height: 1;
      margin: 0;
      padding: 0;
      float: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .navbar .container .brand a {
        color: black;
        font-size: 26px;
        margin: 0;
        text-decoration: none; }
      .navbar .container .brand a:active, .navbar .container .brand a:hover {
        color: black; }
      .navbar .container .brand b {
        color: #508AF5; }
    .navbar .container .navigation {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: inline-block;
      float: right; }
      .navbar .container .navigation ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden; }
        .navbar .container .navigation ul li {
          height: 100%;
          display: inline-block;
          margin-left: 30px; }
          .navbar .container .navigation ul li a {
            padding: 35px 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-decoration: none;
            border-top: 3.5px solid transparent;
            border-bottom: 3.5px solid transparent; }
          .navbar .container .navigation ul li a:hover,
          .navbar .container .navigation ul li a.active {
            border-bottom: 3px solid #508AF5; }
            .navbar .container .navigation ul li a:hover p,
            .navbar .container .navigation ul li a.active p {
              color: #508AF5; }
          .navbar .container .navigation ul li p {
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-weight: bold;
            line-height: 16px;
            color: black;
            font-weight: 700px; }
    .navbar .container #mobile_navbar_button {
      display: none;
      float: right;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none; }
      .navbar .container #mobile_navbar_button i {
        font-size: 30px;
        color: black; }

@media (max-width: 1024px) {
  .navbar {
    padding-left: 40px;
    padding-right: 40px; }
    .navbar .navigation {
      display: none !important; }
    .navbar #mobile_navbar_button {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; } }

@media (min-width: 1024px) {
  #mobile_navbar_button {
    display: none !important; } }

.mobile_navbar {
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: hidden; }
  .mobile_navbar .navbar_inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .mobile_navbar .navbar_inner #mobile_navbar_close_button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      padding: 31px 40px 0 0;
      z-index: 150; }
      .mobile_navbar .navbar_inner #mobile_navbar_close_button i {
        cursor: pointer;
        font-size: 30px;
        color: black; }
    .mobile_navbar .navbar_inner .navbar_content {
      position: relative;
      width: 300px;
      height: auto; }
      .mobile_navbar .navbar_inner .navbar_content .main-title {
        margin: 0 0 40px 0; }
      .mobile_navbar .navbar_inner .navbar_content ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden; }
        .mobile_navbar .navbar_inner .navbar_content ul li {
          padding: 20px 0; }
          .mobile_navbar .navbar_inner .navbar_content ul li a {
            text-decoration: none; }
          .mobile_navbar .navbar_inner .navbar_content ul li p {
            width: auto;
            margin: 0;
            padding: 0;
            font-size: 26px;
            line-height: 26px;
            color: black; }
          .mobile_navbar .navbar_inner .navbar_content ul li i {
            color: #508AF5; }
          .mobile_navbar .navbar_inner .navbar_content ul li a.active p {
            color: #508AF5; }

@media (max-width: 350px) {
  .mobile_navbar .navbar_inner .navbar_content {
    padding-left: 30px; }
  .mobile_navbar .navbar_inner .navbar_content ul li p {
    font-size: 22px;
    line-height: 22px; } }

@media (min-width: 1024px) {
  .mobile_navbar {
    display: none !important; } }

.footer .grid {
  display: grid;
  padding: 120px 0;
  margin: 0;
  grid-template-columns: 25% 25% 25% 25%; }
  .footer .grid p {
    font-size: 22px; }
  .footer .grid ul {
    list-style-type: none;
    padding: 0; }
    .footer .grid ul li {
      margin-top: 10px; }
      .footer .grid ul li a {
        font-size: 14px;
        text-decoration: none;
        color: black; }
      .footer .grid ul li a i {
        color: #508AF5;
        margin-right: 10px; }
  .footer .grid .col4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer .grid .col4 p {
      font-size: 16px;
      margin: 0; }
    .footer .grid .col4 h2 {
      margin: 0;
      margin-top: 10px; }
      .footer .grid .col4 h2 i {
        margin-right: 5px;
        color: #508AF5; }
  .footer .grid .col5 {
    grid-column: 1 / 5; }

.footer .footer-copyright p {
  text-align: center;
  font-size: 14px;
  margin: 0 0 60px 0; }

@media (max-width: 1024px) {
  .footer .grid {
    grid-template-columns: auto auto auto auto;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .footer .grid .box {
      width: 190px; } }

@media (max-width: 750px) {
  .footer .grid {
    grid-template-columns: auto auto;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media (max-width: 550px) {
  .footer .grid {
    grid-template-columns: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .footer .grid .col4 p {
      margin-top: 20px; } }

.home-header {
  background-image: url("../images/home/img_header.jpg"); }
  .home-header .content {
    padding: 250px 0; }
  .home-header h1 {
    text-align: left !important;
    line-height: 1 !important; }
  .home-header h4 {
    font-size: 26px;
    color: white;
    margin: 40px 0 0 0;
    text-align: left;
    line-height: 1; }
  .home-header a {
    background-color: #508AF5;
    border-style: none;
    color: white;
    text-decoration: none;
    font-weight: 700px;
    padding: 17px 40px;
    cursor: pointer; }

@media (max-width: 1024px) {
  .home-header .content {
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 750px) {
  .home-header {
    background-image: url("../images/home/img_header_mobile.jpg"); } }

@media (max-width: 600px) {
  .home-header .content .container > * {
    text-align: center !important; } }

@media (max-width: 400px) {
  .home-header .content {
    padding: 100px 40px; } }

.golden-dream {
  padding-bottom: 0;
  margin-bottom: -40px;
  background-color: white; }
  .golden-dream .grid {
    display: grid;
    grid-template-columns: 50% 25% 25%; }
    .golden-dream .grid div {
      height: 300px; }
    .golden-dream .grid .grid-item1 {
      grid-column-start: 1;
      grid-column-end: 2;
      background-color: white; }
      .golden-dream .grid .grid-item1 h2 {
        color: #508AF5;
        margin: 0; }
      .golden-dream .grid .grid-item1 p {
        color: black;
        margin: 20px 0 0 0;
        font-size: 50px;
        line-height: 1.2;
        font-weight: 700; }
    .golden-dream .grid .grid-item2 {
      background-image: url("../images/home/img_1.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
    .golden-dream .grid .grid-item3 {
      background-color: #508AF5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .golden-dream .grid .grid-item3 .content {
        width: 75%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .golden-dream .grid .grid-item3 .content i {
          color: white;
          font-size: 50px; }
        .golden-dream .grid .grid-item3 .content p {
          color: white;
          font-size: 22px;
          line-height: 1.2;
          margin-bottom: 0; }
    .golden-dream .grid .grid-item4 {
      background-image: url("../images/home/img_2.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      grid-row: 2 / span 3;
      height: auto; }
    .golden-dream .grid .grid-item5 {
      padding: 30px 30px 0 30px; }
      .golden-dream .grid .grid-item5 p {
        line-height: 1.7; }
      .golden-dream .grid .grid-item5 p:first-child {
        margin-top: 0; }
    .golden-dream .grid .grid-item6 {
      background-image: url("../images/home/img_3.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }

@media (max-width: 1024px) {
  .golden-dream .grid {
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: 50% 50%; } }

@media (max-width: 650px) {
  .golden-dream .grid .grid-item1 p {
    font-size: 40px; } }

@media (max-width: 550px) {
  .golden-dream .grid {
    grid-template-columns: 100%;
    grid-row-gap: 30px; }
    .golden-dream .grid .grid-item1 {
      height: auto; }
      .golden-dream .grid .grid-item1 p {
        margin: 30px 0; }
    .golden-dream .grid .grid-item4 {
      height: 300px; }
    .golden-dream .grid .grid-item5 {
      height: auto;
      padding: 30px; } }

.house-estate {
  padding: 0;
  background-image: url("../images/home/img_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%; }
  .house-estate .section-content {
    padding: 120px 0;
    background-color: rgba(0, 0, 0, 0.8); }
    .house-estate .section-content .section-title {
      color: white; }
    .house-estate .section-content .grid {
      display: grid;
      grid-template-columns: 230px 230px 230px 230px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      grid-column-gap: 30px; }
      .house-estate .section-content .grid .item {
        padding: 60px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #212121;
        cursor: pointer; }
        .house-estate .section-content .grid .item i {
          color: #6C6C6C;
          font-size: 50px;
          margin-bottom: 50px; }
        .house-estate .section-content .grid .item h4 {
          margin: 0;
          color: white;
          font-size: 18px;
          text-align: center; }
      .house-estate .section-content .grid .item:hover {
        background-color: #508AF5; }
        .house-estate .section-content .grid .item:hover i {
          color: white; }

@media (max-width: 1160px) {
  .house-estate .grid {
    grid-template-columns: 190px 190px 190px 190px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 950px) {
  .house-estate .grid {
    grid-template-columns: 250px 250px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 550px) {
  .house-estate .grid {
    grid-template-columns: 250px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.in-area .section-title {
  color: black; }

.in-area .grid {
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-column-gap: 30px; }
  .in-area .grid .item {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer; }
    .in-area .grid .item .description {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      position: absolute;
      padding: 20px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5); }
      .in-area .grid .item .description h2 {
        margin: 0;
        color: #508AF5; }
      .in-area .grid .item .description h3 {
        margin: 0;
        color: white; }
  .in-area .grid .item:hover > .description {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: 0; }
  .in-area .grid .item1 {
    background-image: url("../images/home/img_4.jpeg"); }
  .in-area .grid .item2 {
    background-image: url("../images/home/img_5.jpeg");
    margin-top: 60px; }
  .in-area .grid .item3 {
    background-image: url("../images/home/img_6.jpeg"); }
  .in-area .grid .item4 {
    background-image: url("../images/home/img_7.jpeg");
    background-position-x: -260px;
    margin-top: 60px; }

@media (max-width: 1160px) {
  .in-area .grid {
    grid-template-columns: 190px 190px 190px 190px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 950px) {
  .in-area .grid {
    grid-template-columns: 250px 250px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 550px) {
  .in-area .grid {
    grid-template-columns: 250px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.new-offer {
  background-color: #F7F7F7; }
  .new-offer .grid {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-column-gap: 30px;
    margin: 0; }
    .new-offer .grid .item {
      height: 450px;
      background-color: white; }
      .new-offer .grid .item .content {
        display: inline-block;
        height: 320px;
        padding: 0 35px; }
        .new-offer .grid .item .content h3 {
          margin: 55px 0;
          font-size: 1.27em; }
        .new-offer .grid .item .content h1 {
          margin: 0 0 50px 0; }
      .new-offer .grid .item .image {
        height: 130px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
    .new-offer .grid .item1 {
      background-color: transparent; }
      .new-offer .grid .item1 h2 {
        color: #508AF5;
        margin: 0; }
      .new-offer .grid .item1 p {
        color: black;
        margin: 50px 0;
        font-size: 50px;
        line-height: 1.2;
        font-weight: 700; }
    .new-offer .grid .item2 .image {
      background-image: url("../images/home/img_8.jpeg"); }
    .new-offer .grid .item3 .image {
      background-image: url("../images/home/img_9.jpeg"); }
    .new-offer .grid .item4 .image {
      background-image: url("../images/home/img_10.jpg"); }

@media (max-width: 1160px) {
  .new-offer .grid {
    grid-template-columns: 190px 190px 190px 190px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .new-offer .grid .item .content h3 {
      margin: 30px 0;
      font-size: 1.27em; } }

@media (max-width: 950px) {
  .new-offer .grid {
    grid-template-columns: 250px 250px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 600px) {
  .new-offer .grid {
    grid-template-columns: 250px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.real-estate {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .real-estate .left-container,
  .real-estate .right-container {
    padding: 120px 0;
    width: 50%; }
  .real-estate .left-container {
    background-image: url("../images/home/img_11.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .real-estate .left-container .content {
      background: rgba(255, 255, 255, 0.8);
      width: 500px;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      float: right; }
      .real-estate .left-container .content p {
        font-size: 40px;
        margin: 0;
        line-height: 1; }
      .real-estate .left-container .content .year {
        color: #508AF5; }
  .real-estate .right-container {
    background-color: #212121;
    padding: 80px; }
    .real-estate .right-container h2 {
      margin: 0;
      color: #508AF5; }
    .real-estate .right-container h1 {
      color: white;
      margin: 25px 0;
      font-size: 50px;
      line-height: 1.2;
      font-weight: bold; }
    .real-estate .right-container a {
      color: white; }

@media (max-width: 950px) {
  .real-estate .left-container {
    display: none; }
  .real-estate .right-container {
    width: 100%;
    padding: 120px; } }

@media (max-width: 550px) {
  .real-estate .left-container {
    display: none; }
  .real-estate .right-container {
    width: 100%;
    padding: 60px; }
    .real-estate .right-container h1 {
      font-size: 40px; } }

@media (max-width: 400px) {
  .real-estate .left-container {
    display: none; }
  .real-estate .right-container {
    width: 100%;
    padding: 30px; }
    .real-estate .right-container h1 {
      font-size: 30px; } }

.investments-header {
  background-image: url("../images/investments/img_header.jpg"); }

@media (max-width: 750px) {
  .investments-header {
    background-image: url("../images/investments/img_header_mobile.jpg"); } }

.golden-dream-investments .container {
  height: auto; }

.golden-dream-investments .grid {
  display: grid;
  grid-template-columns: 50% 25% 25%; }
  .golden-dream-investments .grid div {
    height: 300px; }
  .golden-dream-investments .grid .grid-item1 {
    height: auto !important;
    grid-row: 1 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .golden-dream-investments .grid .grid-item1 h2 {
      color: #508AF5;
      margin: 0; }
    .golden-dream-investments .grid .grid-item1 p {
      color: black;
      margin: 20px 0 0 0;
      font-size: 50px;
      line-height: 1.2;
      font-weight: 700; }
  .golden-dream-investments .grid .grid-item2 {
    background-image: url("../images/investments/img_1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .golden-dream-investments .grid .grid-item3 {
    background-color: #508AF5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .golden-dream-investments .grid .grid-item3 .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .golden-dream-investments .grid .grid-item3 .content i {
        color: white;
        font-size: 50px; }
      .golden-dream-investments .grid .grid-item3 .content p {
        color: white;
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 0; }
  .golden-dream-investments .grid .grid-item4 {
    background-color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .golden-dream-investments .grid .grid-item4 .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .golden-dream-investments .grid .grid-item4 .content i {
        color: white;
        font-size: 50px; }
      .golden-dream-investments .grid .grid-item4 .content p {
        color: white;
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 0; }

@media (max-width: 1024px) {
  .golden-dream-investments .grid {
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: 50% 50%; }
    .golden-dream-investments .grid .grid-item1 {
      height: 300px;
      grid-row: 1; } }

@media (max-width: 650px) {
  .golden-dream-investments .grid .grid-item1 p {
    font-size: 40px; } }

@media (max-width: 550px) {
  .golden-dream-investments .grid {
    grid-template-columns: 100%;
    grid-row-gap: 30px; }
    .golden-dream-investments .grid .grid-item1 {
      height: auto !important; }
      .golden-dream-investments .grid .grid-item1 .content {
        height: auto !important; }
      .golden-dream-investments .grid .grid-item1 p {
        margin: 30px 0; } }

.for-families {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .for-families .left-container,
  .for-families .right-container {
    width: 50%;
    padding: 120px 75px; }
  .for-families .left-container {
    background-image: url("../images/investments/img_2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .for-families .right-container h1 {
    font-size: 45px;
    margin: 0; }
  .for-families .right-container p {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 1.4; }

@media (max-width: 1024px) {
  .for-families .left-container {
    display: none; }
  .for-families .right-container {
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0; } }

@media (max-width: 650px) {
  .for-families .right-container {
    padding-left: 35px;
    padding-right: 35px; } }

.perfect-home {
  padding-bottom: 0; }
  .perfect-home .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin-top: 50px; }
    .perfect-home .grid div {
      height: 350px;
      width: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .perfect-home .grid .grid-item1 {
      background-image: url("../images/investments/img_3.jpg"); }
    .perfect-home .grid .grid-item2 {
      background-image: url("../images/investments/img_4.jpg"); }
    .perfect-home .grid .grid-item3 {
      background-image: url("../images/investments/img_5.jpg"); }
    .perfect-home .grid .grid-item4 {
      background-image: url("../images/investments/img_6.jpg"); }
    .perfect-home .grid .grid-item5 {
      background-image: url("../images/investments/img_7.jpg"); }
    .perfect-home .grid .grid-item6 {
      background-image: url("../images/investments/img_8.jpg"); }

@media (max-width: 1024px) {
  .perfect-home .grid {
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 900px) {
  .perfect-home .grid div {
    height: 250px; } }

@media (max-width: 650px) {
  .perfect-home .grid {
    grid-template-columns: auto; }
    .perfect-home .grid div {
      height: 350px; } }

@media (max-width: 550px) {
  .perfect-home .grid div {
    height: 250px; } }

@media (max-width: 450px) {
  .perfect-home .grid div {
    height: 180px; } }

.beatiful-interior {
  padding-bottom: 0; }
  .beatiful-interior .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-top: 50px; }
    .beatiful-interior .grid div {
      height: auto;
      width: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .beatiful-interior .grid div h1 {
        color: #508AF5; }
      .beatiful-interior .grid div .image {
        height: 250px; }
    .beatiful-interior .grid .grid-item1 .image {
      background-image: url("../images/investments/img_9.jpeg"); }
    .beatiful-interior .grid .grid-item2 .image {
      background-image: url("../images/investments/img_10.jpg"); }
    .beatiful-interior .grid .grid-item3 .image {
      background-image: url("../images/investments/img_11.jpeg"); }

@media (max-width: 1024px) {
  .beatiful-interior .grid {
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 900px) {
  .beatiful-interior .grid {
    grid-template-columns: auto auto; } }

@media (max-width: 650px) {
  .beatiful-interior .grid {
    grid-template-columns: auto; }
    .beatiful-interior .grid div .image {
      height: 350px; } }

@media (max-width: 550px) {
  .beatiful-interior .grid {
    grid-template-columns: auto; }
    .beatiful-interior .grid div .image {
      height: 250px; } }

@media (max-width: 450px) {
  .beatiful-interior .grid {
    grid-template-columns: auto; }
    .beatiful-interior .grid div .image {
      height: 180px; } }

.advantages-header {
  background-image: url("../images/advantages/img_header.jpeg"); }

@media (max-width: 750px) {
  .advantages-header {
    background-image: url("../images/advantages/img_header_mobile.jpeg"); } }

.ad-video {
  padding-bottom: 0; }
  .ad-video .grid {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 30px; }
    .ad-video .grid div {
      height: 350px;
      width: auto; }
    .ad-video .grid .grid-item1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .ad-video .grid .grid-item1 h2 {
        color: #508AF5;
        margin: 0; }
      .ad-video .grid .grid-item1 p {
        color: black;
        margin: 20px 0 0 0;
        font-size: 50px;
        line-height: 1.2;
        font-weight: 700; }
    .ad-video .grid .grid-item2 {
      background-image: url("../images/advantages/img_1.jpeg");
      background-repeat: no-repeat;
      background-size: auto;
      background-position-x: -70px;
      background-position-y: -30px; }
      .ad-video .grid .grid-item2 .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .ad-video .grid .grid-item2 .overlay i {
          color: white;
          font-size: 70px;
          cursor: pointer; }

@media (max-width: 1024px) {
  .ad-video .grid {
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 950px) {
  .ad-video .grid .grid-item1 p {
    font-size: 40px; } }

@media (max-width: 850px) {
  .ad-video .grid {
    height: auto; }
    .ad-video .grid div {
      height: 300px; }
    .ad-video .grid .grid-item2 {
      background-position-x: -150px; }
      .ad-video .grid .grid-item2 .overlay {
        height: 300px; } }

@media (max-width: 850px) {
  .ad-video .grid {
    height: auto; }
    .ad-video .grid div {
      height: 300px; }
    .ad-video .grid .grid-item1 p {
      font-size: 30px; }
    .ad-video .grid .grid-item2 {
      background-position-x: -150px; }
      .ad-video .grid .grid-item2 .overlay {
        height: 300px; } }

@media (max-width: 800px) {
  .ad-video .grid {
    height: auto; }
    .ad-video .grid div {
      height: 250px; }
    .ad-video .grid .grid-item2 {
      background-position-x: -170px;
      background-position-y: -60px; }
      .ad-video .grid .grid-item2 .overlay {
        height: 250px; } }

@media (max-width: 700px) {
  .ad-video .grid {
    grid-template-columns: auto;
    height: auto; }
    .ad-video .grid div {
      height: auto; }
    .ad-video .grid .grid-item1 p {
      margin: 30px 0; }
    .ad-video .grid .grid-item2 {
      background-position-x: -170px;
      background-position-y: -60px; }
      .ad-video .grid .grid-item2 .overlay {
        height: 350px; } }

.benefits .grid {
  display: grid;
  grid-template-columns: 40% 30% 30%; }
  .benefits .grid .grid-item1 {
    grid-row: 1 / 3;
    height: auto;
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #508AF5; }
    .benefits .grid .grid-item1 h2 {
      color: white;
      margin: 0; }
    .benefits .grid .grid-item1 p {
      color: white;
      margin: 20px 0 0 0;
      font-size: 50px;
      line-height: 1.2;
      font-weight: 700; }
  .benefits .grid .grid-item2,
  .benefits .grid .grid-item3,
  .benefits .grid .grid-item4,
  .benefits .grid .grid-item5 {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .benefits .grid .grid-item2 .content,
    .benefits .grid .grid-item3 .content,
    .benefits .grid .grid-item4 .content,
    .benefits .grid .grid-item5 .content {
      width: 200px; }
    .benefits .grid .grid-item2 i,
    .benefits .grid .grid-item3 i,
    .benefits .grid .grid-item4 i,
    .benefits .grid .grid-item5 i {
      color: #508AF5;
      font-size: 46px; }
    .benefits .grid .grid-item2 h3,
    .benefits .grid .grid-item3 h3,
    .benefits .grid .grid-item4 h3,
    .benefits .grid .grid-item5 h3 {
      font-size: 20px; }
    .benefits .grid .grid-item2 p,
    .benefits .grid .grid-item3 p,
    .benefits .grid .grid-item4 p,
    .benefits .grid .grid-item5 p {
      margin-bottom: 0; }

@media (max-width: 1024px) {
  .benefits .grid {
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 900px) {
  .benefits .grid {
    grid-template-columns: 50% 50%; }
    .benefits .grid .grid-item1 {
      grid-column: 1 / 3;
      grid-row: 1;
      padding: 30px; }
    .benefits .grid .grid-item2 .content,
    .benefits .grid .grid-item3 .content,
    .benefits .grid .grid-item4 .content,
    .benefits .grid .grid-item5 .content {
      width: 160px; } }

@media (max-width: 550px) {
  .benefits .grid {
    grid-template-columns: 100%;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-row-gap: 60px; }
    .benefits .grid .grid-item1 {
      grid-column: 1;
      padding: 30px; }
      .benefits .grid .grid-item1 p {
        font-size: 40px; }
    .benefits .grid .grid-item2,
    .benefits .grid .grid-item3,
    .benefits .grid .grid-item4,
    .benefits .grid .grid-item5 {
      width: auto;
      height: auto; }
      .benefits .grid .grid-item2 .content,
      .benefits .grid .grid-item3 .content,
      .benefits .grid .grid-item4 .content,
      .benefits .grid .grid-item5 .content {
        text-align: center;
        width: 300px; }
        .benefits .grid .grid-item2 .content h3,
        .benefits .grid .grid-item3 .content h3,
        .benefits .grid .grid-item4 .content h3,
        .benefits .grid .grid-item5 .content h3 {
          font-size: 20px; } }

@media (max-width: 400px) {
  .benefits .grid {
    -ms-flex-line-pack: center;
    align-content: center;
    grid-row-gap: 60px; }
    .benefits .grid .grid-item1 {
      width: auto;
      grid-column: 1;
      padding: 20px; }
      .benefits .grid .grid-item1 p {
        font-size: 30px; } }

.big-images {
  width: 100%;
  padding: 0; }
  .big-images .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%; }
    .big-images .grid div {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 600px; }
    .big-images .grid .left-container {
      background-image: url("../images/advantages/img_2.jpeg"); }
    .big-images .grid .right-container {
      background-image: url("../images/advantages/img_3.jpeg"); }

@media (max-width: 800px) {
  .big-images .grid {
    grid-template-columns: auto;
    grid-gap: 40px; }
    .big-images .grid div {
      height: 400px; } }

@media (max-width: 550px) {
  .big-images .grid {
    grid-template-columns: auto;
    grid-gap: 40px; }
    .big-images .grid div {
      height: 300px; } }

.your-dream {
  padding-bottom: 0; }
  .your-dream .grid {
    display: grid;
    grid-template-columns: 50% 25% 25%; }
    .your-dream .grid div {
      height: 300px; }
    .your-dream .grid .grid-item1 i {
      color: #508AF5;
      font-size: 80px; }
    .your-dream .grid .grid-item1 p {
      color: black;
      margin: 20px 0 0 0;
      font-size: 50px;
      line-height: 1.2;
      font-weight: 700; }
    .your-dream .grid .grid-item2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .your-dream .grid .grid-item2 ul {
        width: 220px;
        list-style-type: none; }
      .your-dream .grid .grid-item2 ul,
      .your-dream .grid .grid-item2 ul li {
        padding: 0;
        margin: 0; }
      .your-dream .grid .grid-item2 li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
      .your-dream .grid .grid-item2 ul li p {
        font-size: 15px;
        margin: 15px 0; }
      .your-dream .grid .grid-item2 ul li i {
        margin: 21px 10px 0 20px;
        font-size: 20px; }
    .your-dream .grid .grid-item3,
    .your-dream .grid .grid-item4,
    .your-dream .grid .grid-item5 {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .your-dream .grid .grid-item3 {
      background-image: url("../images/advantages/img_5.jpeg");
      background-position-x: -60px; }
    .your-dream .grid .grid-item4 {
      background-image: url("../images/advantages/img_6.jpeg"); }
    .your-dream .grid .grid-item5 {
      background-image: url("../images/advantages/img_7.jpeg");
      background-position-x: -70px; }

@media (max-width: 1024px) {
  .your-dream .grid {
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 900px) {
  .your-dream .grid {
    grid-template-columns: auto auto;
    grid-gap: 30px; }
    .your-dream .grid .grid-item3 {
      background-position-x: 0; }
    .your-dream .grid .grid-item5 {
      background-position-x: 0;
      grid-column: 1 / 3; } }

@media (max-width: 700px) {
  .your-dream .grid .grid-item1 p {
    font-size: 40px; } }

@media (max-width: 600px) {
  .your-dream .grid {
    grid-template-columns: 100%; }
    .your-dream .grid .grid-item1 {
      height: auto; }
      .your-dream .grid .grid-item1 p {
        font-size: 30px; }
    .your-dream .grid .grid-item2 {
      height: auto; }
    .your-dream .grid .grid-item5 {
      grid-column: 1; } }

@media (max-width: 450px) {
  .your-dream .grid .grid-item3,
  .your-dream .grid .grid-item4,
  .your-dream .grid .grid-item5 {
    height: 250px; } }

.apartments-header {
  background-image: url("../images/apartments/img_header.jpg"); }

@media (max-width: 750px) {
  .apartments-header {
    background-image: url("../images/apartments/img_header_mobile.jpg"); } }

.family-apartment {
  background-color: #F7F7F7; }
  .family-apartment .grid {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 30px; }
    .family-apartment .grid div {
      height: auto;
      width: auto; }
    .family-apartment .grid .grid-item2 {
      height: auto;
      background-image: url("../images/apartments/img_1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 2;
      grid-row: 1 / span 2; }
    .family-apartment .grid .grid-item3 {
      height: auto; }
      .family-apartment .grid .grid-item3 .detail-box {
        margin: 0 0 50px 0;
        height: auto;
        border-left: 3px solid #508AF5;
        display: grid;
        grid-template-columns: 50% 50%;
        padding-left: 20px;
        grid-row-gap: 20px; }
        .family-apartment .grid .grid-item3 .detail-box div {
          width: auto;
          height: auto; }
          .family-apartment .grid .grid-item3 .detail-box div p:first-child {
            color: #6C6C6C;
            text-transform: uppercase;
            font-size: 14px;
            margin: 0;
            line-height: 1; }
          .family-apartment .grid .grid-item3 .detail-box div p:last-child {
            font-size: 18px;
            line-height: 1;
            margin-top: 5px;
            margin-bottom: 0; }
      .family-apartment .grid .grid-item3 .detail-box2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .family-apartment .grid .grid-item3 .detail-box2 b {
          color: #508AF5; }

@media (max-width: 1024px) {
  .family-apartment .grid {
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 950px) {
  .family-apartment .grid {
    grid-template-columns: auto; }
    .family-apartment .grid .grid-item2 {
      grid-column: 1;
      grid-row: 2;
      height: 450px; }
    .family-apartment .grid .grid-item3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-top: 30px; }
      .family-apartment .grid .grid-item3 .detail-box,
      .family-apartment .grid .grid-item3 .detail-box2 {
        margin: 0 auto;
        width: 300px;
        padding-right: 0; } }

@media (max-width: 750px) {
  .family-apartment .grid .grid-item1 p.main-title {
    font-size: 40px; }
  .family-apartment .grid .grid-item3 {
    display: block; }
    .family-apartment .grid .grid-item3 .detail-box2 {
      padding-top: 20px; } }

@media (max-width: 650px) {
  .family-apartment .grid .grid-item2 {
    height: 300px; } }

@media (max-width: 550px) {
  .family-apartment .grid {
    grid-template-columns: 100%; }
    .family-apartment .grid .grid-item2 {
      height: 200px; } }

@media (max-width: 350px) {
  .family-apartment .grid .grid-item3 {
    grid-template-columns: 100%; }
    .family-apartment .grid .grid-item3 .detail-box {
      width: 100%;
      grid-template-columns: 90%; }
    .family-apartment .grid .grid-item3 .detail-box2 {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.detached-house .grid {
  display: grid;
  grid-template-columns: auto 40%;
  grid-gap: 30px; }
  .detached-house .grid div {
    height: auto;
    width: auto; }
  .detached-house .grid .grid-item1 {
    background-image: url("../images/apartments/img_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-row: 1 / 3; }
  .detached-house .grid .grid-item2 .blue-title {
    color: #508AF5;
    margin: 0; }
  .detached-house .grid .grid-item2 .main-title {
    color: black;
    margin: 20px 0 0 0;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700; }
  .detached-house .grid .grid-item3 {
    height: auto; }
    .detached-house .grid .grid-item3 .detail-box {
      margin: 0 0 50px 0;
      height: auto;
      border-left: 3px solid #508AF5;
      display: grid;
      grid-template-columns: 50% 50%;
      padding-left: 20px;
      grid-row-gap: 20px; }
      .detached-house .grid .grid-item3 .detail-box div {
        width: auto;
        height: auto; }
        .detached-house .grid .grid-item3 .detail-box div p:first-child {
          color: #6C6C6C;
          text-transform: uppercase;
          font-size: 14px;
          margin: 0;
          line-height: 1; }
        .detached-house .grid .grid-item3 .detail-box div p:last-child {
          font-size: 18px;
          line-height: 1;
          margin-top: 5px;
          margin-bottom: 0; }
    .detached-house .grid .grid-item3 .detail-box2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .detached-house .grid .grid-item3 .detail-box2 b {
        color: #508AF5; }

@media (max-width: 1024px) {
  .detached-house .grid {
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 950px) {
  .detached-house .grid {
    grid-template-columns: auto; }
    .detached-house .grid .grid-item1 {
      grid-column: 1;
      grid-row: 2;
      height: 450px; }
    .detached-house .grid .grid-item3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-top: 30px; }
      .detached-house .grid .grid-item3 .detail-box,
      .detached-house .grid .grid-item3 .detail-box2 {
        margin: 0 auto;
        width: 300px;
        padding-right: 0; } }

@media (max-width: 750px) {
  .detached-house .grid .grid-item2 p.main-title {
    font-size: 40px; }
  .detached-house .grid .grid-item3 {
    display: block; }
    .detached-house .grid .grid-item3 .detail-box2 {
      padding-top: 20px; } }

@media (max-width: 650px) {
  .detached-house .grid .grid-item1 {
    height: 300px; } }

@media (max-width: 550px) {
  .detached-house .grid {
    grid-template-columns: 100%; }
    .detached-house .grid .grid-item1 {
      height: 200px; } }

@media (max-width: 350px) {
  .detached-house .grid .grid-item3 {
    grid-template-columns: 100%; }
    .detached-house .grid .grid-item3 .detail-box {
      width: 100%;
      grid-template-columns: 90%; }
    .detached-house .grid .grid-item3 .detail-box2 {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.apartment-in-city {
  background-color: #F7F7F7; }
  .apartment-in-city .grid {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 30px; }
    .apartment-in-city .grid div {
      height: auto;
      width: auto; }
    .apartment-in-city .grid .grid-item1 .blue-title {
      color: #508AF5;
      margin: 0; }
    .apartment-in-city .grid .grid-item1 .main-title {
      color: black;
      margin: 20px 0 0 0;
      font-size: 50px;
      line-height: 1.2;
      font-weight: 700; }
    .apartment-in-city .grid .grid-item2 {
      background-image: url("../images/apartments/img_3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 2;
      grid-row: 1 / span 2; }
    .apartment-in-city .grid .grid-item3 {
      height: auto; }
      .apartment-in-city .grid .grid-item3 .detail-box {
        margin: 0 0 50px 0;
        height: auto;
        border-left: 3px solid #508AF5;
        display: grid;
        grid-template-columns: 50% 50%;
        padding-left: 20px;
        grid-row-gap: 20px; }
        .apartment-in-city .grid .grid-item3 .detail-box div {
          width: auto;
          height: auto; }
          .apartment-in-city .grid .grid-item3 .detail-box div p:first-child {
            color: #6C6C6C;
            text-transform: uppercase;
            font-size: 14px;
            margin: 0;
            line-height: 1; }
          .apartment-in-city .grid .grid-item3 .detail-box div p:last-child {
            font-size: 18px;
            line-height: 1;
            margin-top: 5px;
            margin-bottom: 0; }
      .apartment-in-city .grid .grid-item3 .detail-box2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .apartment-in-city .grid .grid-item3 .detail-box2 b {
          color: #508AF5; }

@media (max-width: 1024px) {
  .apartment-in-city .grid {
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 950px) {
  .apartment-in-city .grid {
    grid-template-columns: auto; }
    .apartment-in-city .grid .grid-item2 {
      grid-column: 1;
      grid-row: 2;
      height: 450px; }
    .apartment-in-city .grid .grid-item3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-top: 30px; }
      .apartment-in-city .grid .grid-item3 .detail-box,
      .apartment-in-city .grid .grid-item3 .detail-box2 {
        margin: 0 auto;
        width: 300px;
        padding-right: 0; } }

@media (max-width: 750px) {
  .apartment-in-city .grid .grid-item1 p.main-title {
    font-size: 40px; }
  .apartment-in-city .grid .grid-item3 {
    display: block; }
    .apartment-in-city .grid .grid-item3 .detail-box2 {
      padding-top: 20px; } }

@media (max-width: 650px) {
  .apartment-in-city .grid .grid-item2 {
    height: 300px; } }

@media (max-width: 550px) {
  .apartment-in-city .grid {
    grid-template-columns: 100%; }
    .apartment-in-city .grid .grid-item2 {
      height: 200px; } }

@media (max-width: 350px) {
  .apartment-in-city .grid .grid-item3 {
    grid-template-columns: 100%; }
    .apartment-in-city .grid .grid-item3 .detail-box {
      width: 100%;
      grid-template-columns: 90%; }
    .apartment-in-city .grid .grid-item3 .detail-box2 {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.new-offer2 {
  padding: 0;
  background-image: url("../images/home/img_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%; }
  .new-offer2 .section-content {
    padding: 120px 0;
    background-color: rgba(0, 0, 0, 0.8); }
    .new-offer2 .section-content .container .section-title {
      color: white; }
    .new-offer2 .section-content .container .grid {
      display: grid;
      grid-template-columns: 230px 230px 230px 230px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      grid-column-gap: 30px;
      margin: 0; }
      .new-offer2 .section-content .container .grid .item {
        height: 450px;
        background-color: white; }
        .new-offer2 .section-content .container .grid .item .content {
          display: inline-block;
          height: 320px;
          padding: 0 35px; }
          .new-offer2 .section-content .container .grid .item .content h3 {
            margin: 55px 0;
            font-size: 1.27em; }
          .new-offer2 .section-content .container .grid .item .content h1 {
            margin: 0 0 50px 0; }
        .new-offer2 .section-content .container .grid .item .image {
          height: 130px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
      .new-offer2 .section-content .container .grid .item1 {
        background-color: transparent; }
        .new-offer2 .section-content .container .grid .item1 h2 {
          color: #508AF5;
          margin: 0; }
        .new-offer2 .section-content .container .grid .item1 p {
          color: white;
          margin: 50px 0;
          font-size: 50px;
          line-height: 1.2;
          font-weight: 700; }
      .new-offer2 .section-content .container .grid .item2 .image {
        background-image: url("../images/home/img_8.jpeg"); }
      .new-offer2 .section-content .container .grid .item3 .image {
        background-image: url("../images/home/img_9.jpeg"); }
      .new-offer2 .section-content .container .grid .item4 .image {
        background-image: url("../images/home/img_10.jpg"); }

@media (max-width: 1160px) {
  .new-offer2 .grid {
    grid-template-columns: 190px 190px 190px 190px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .new-offer2 .grid .item .content h3 {
      margin: 30px 0;
      font-size: 1.27em; } }

@media (max-width: 950px) {
  .new-offer2 .grid {
    grid-template-columns: 250px 250px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 600px) {
  .new-offer2 .grid {
    grid-template-columns: 250px !important;
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .new-offer2 .grid .item1 {
      height: auto !important; } }

.contact-header {
  background-image: url("../images/contact/img_header.jpg"); }

@media (max-width: 750px) {
  .contact-header {
    background-image: url("../images/contact/img_header_mobile.jpg"); } }

.contact-us .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 30px; }
  .contact-us .grid div {
    height: auto;
    width: auto; }
  .contact-us .grid .grid-item3 {
    padding-top: 30px; }

@media (max-width: 1024px) {
  .contact-us .grid {
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 550px) {
  .contact-us .grid {
    grid-template-columns: auto; } }

.our-location {
  padding: 0;
  background-image: url("../images/home/img_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%; }
  .our-location .section-content {
    padding: 120px 0;
    background-color: rgba(0, 0, 0, 0.8); }
    .our-location .section-content .section-title {
      color: white; }
    .our-location .section-content #map {
      margin-top: 50px;
      margin-bottom: -200px;
      width: 100%;
      height: 500px;
      background-color: white; }

.contactform {
  padding-bottom: 0; }
  .contactform .grid {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 30px; }
    .contactform .grid div {
      height: auto; }
    .contactform .grid .grid-item2 form .input-name,
    .contactform .grid .grid-item2 form .input-email,
    .contactform .grid .grid-item2 form .input-subject,
    .contactform .grid .grid-item2 form .textarea-message {
      padding: 10px;
      margin-bottom: 10px;
      border: 0.1px rgba(0, 0, 0, 0.3) solid;
      font-family: 'Source Sans Pro', sans-serif; }
    .contactform .grid .grid-item2 form .input-name,
    .contactform .grid .grid-item2 form .input-email {
      width: 46.5%; }
    .contactform .grid .grid-item2 form .submitbutton {
      padding: 10px;
      width: 100%;
      border: none;
      background-color: #508AF5;
      color: white;
      cursor: pointer;
      font-family: inherit; }
    .contactform .grid .grid-item2 form .input-subject,
    .contactform .grid .grid-item2 form .textarea-message {
      width: 96.5%; }
    .contactform .grid .grid-item2 form .textarea-message {
      font-family: inherit !important; }

@media (max-width: 1024px) {
  .contactform .grid {
    padding-left: 40px;
    padding-right: 40px; }
    .contactform .grid .grid-item2 form .input-name,
    .contactform .grid .grid-item2 form .input-email {
      width: 96.5% !important; } }

@media (max-width: 650px) {
  .contactform .grid {
    grid-template-columns: auto !important; } }
