
.for-families {
    padding: 0!important;
    display: flex;
    flex-direction: row;
    .left-container,
    .right-container {
        width: 50%;
        padding: $section_padding 75px;
    }
    .left-container {
        background-image: url('../images/investments/img_2.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .right-container {
        h1 {
            font-size: $font_sectiontitle;
            margin: 0;
        }
        p {
            font-size: 24px;
            margin-bottom: 0;
            line-height: 1.4;
        }
    }
}

@media (max-width: 1024px) {
    .for-families {
        .left-container {
            display: none;
        }
        .right-container {
            width: 100%;
            text-align: center;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

@media (max-width: 650px) {
    .for-families {
        .right-container {
            padding-left: 35px;
            padding-right: 35px;
        }
    }
}